html, body {
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  color: #7f7f7f;
}

th {
  color: #7f7f7f;
  text-align: left;
  font-weight: normal;
  vertical-align: top;
}

.header {
  color: #7f7f7f;
}

.pre {
  font-family: monospace;
}

span.navigable, div.navigable, p.navigable {
  cursor: hand;
  text-decoration: underline;
  color: #003399;
}

img.navigable {
  cursor: hand;
}
